
/*mobile version*/


.container {
    display: flex;
    flex-direction: column;
    font-family: Arial;
}

.bold {
    font-weight: bold;
}

.border-radius-10{
    border-radius: 10px;
}

.align-items-right{
    align-items: end;
}

.flex{
    display: flex;
}

.height100 {
    height: 100%;
}

.first-color {
    background: #dbd8e3;
}

.second-color {
    background: #5c5470;
}

.third-color {
    background: #352f44;
}

.fourth-color {
    background: #2a2438;
}

.first-color-text{

}

.second-color-text{

}

.third-color-text{
    color: #b6bfc8;
}

.white{
    color: white;
}

.grey {
    color: #808080;
}

hr.grey {
    border-top: 1px solid #808080;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.page {
    display: flex;
    flex-direction: column;
    font-family: Arial;
    background-color: #2a2438;
}

.display-flex-row{
    display: flex;
    flex-direction: row;
}

.space-between{
    justify-content: space-between;
}

.display-flex-column{
    display: flex;
    flex-direction: column;
}

.center-items{
    align-items: center;
}

.center-content{
    align-content: center;
}

.codelanguages {
    color: #f2f28d;
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
}

.profile-picture {
    padding-bottom: 5px;
    margin: 10px 15px 0px 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.profile-picture__section {
    border-radius: 5px;
    background-color: #352f44;
}

.profile {
    width: 100%;
}

.person-logo {
    margin-top: 5px;
    border: 2px solid black;
    border-radius: 50%;
    width: 20%;
    animation: glow 3s ease alternate;
}

.person-name{
    padding-top: 5px;
    color: white;
    font-size: 16px;
    text-align: center;
}

.person-qualification{
    color: #808080;
    font-size: 14px;
    text-align: center;
}

.person-info{
    display: flex;
    align-items: normal;
}

.personalia-content {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.personalia-content-text {
    padding-left: 15px;
    font-size: 14px;
}

.personalia-content-icons {
    align-items: center;
    width: 30px;
    padding: 2px;
}

.profile-content {
    padding: 0px 10px 10px 10px;
    font-size: 20px;
}

.profile-content__category {
    padding: 10px;
    margin: 10px 5px 10px 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}

.profile-content__category-title {
    color: white;
}

.profile-content__category--hidden-mobile {
    display: none;
}

.profile-content__element {
    display: flex;
    flex-direction: column;
}

.profile-content__element--hidden-mobile {
    flex-direction: column;
    display: none;
}

.profile-picture__section--hidden-mobile {
    display: none;
}

.skills--hidden-mobile {
    display: none;
}

.skills-title--hidden-mobile{
    display: none;
}

.profile-content__title {
    color: #f2f28d;
    font-size: 18px;
}

.profile-content__period {
    display: none;
}

.profile-content__institute {
    margin-top: 0px;
    font-size: 14px;
}

@media only screen and (min-width: 800px) {

    .page {
        flex-direction: row;
        background-color: #352f44;
    }

    .about-me-title{
        font-size: 100px;
        padding-left: 2%;
        padding-top: 8%;
    }

    .about-me-paragraph{
        height: 20vh;
        padding-top: 2%;
        padding-left: 2%;
    }

    .person-name{
        color: white;
        font-size: 14px;
    }

    .person-info__table {
        display: flex;
        flex-wrap: wrap;
    }

    .skills--hidden-mobile {

    }

    .language-percentage-bar{
        width: 100%;
        height: 20px;
        border-radius: 10px;
    }

    .skills-title--hidden-mobile{

    }

    .profile-picture{
        width: 25%;
    }

    .person-logo{
        width: 50%;
    }

    .profile-picture__section {

    }

    .profile-picture__section--hidden-mobile {
        display: flow;
        margin-bottom: 5px;
        width: 95%;
    }

    .profile-content__category--hidden-mobile{
        display: flex;
        flex-direction: column;
    }

    .profile-content__category {
        padding: 10px;
        margin: 1%;
        border-radius: 5px;
        width: 30%;
    }

    /*fix: anders als stipje zichtbaar*/
    .profile-content__category--hidden-mobile hr{
        width: 100%;
    }

    .profile-content__element--hidden-mobile {
        display: flex;
    }

    .profile-content__element-header{
        display: flex;
        justify-content: space-between;
    }

    .profile-content__span__left{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .profile-content__period {
        font-size: 12px;
        align-items: flex-end;
        display: flex;
    }
}



/*student uitwerking*/